# misc
.DS_Store
*.pem

.next
/coverage
/out/
Dockerfile
.dockerignore

# PostgreSQL data
/.data

/data
/__tests__
*.env*
node_modules
npm-debug.log
README.md
.git
.github
TODO
Makefile
/public/uploads
!/public/uploads/.keep
